<template>
  <div class="home">
    <div id="title">
      Welcome To GPay Shop
    </div>
    <!-- <div v-for="item in items" :key="item.id">
      <div class="item" @click="showDetails(item.id)">
        <div class="photo">{{item.thumbnail}}</div>
        <div>{{item.name}}</div>
        <div class="price">${{item.price}}</div>
      </div>
    </div> -->
    <googlemaps-map
      class="map"
      :center.sync="center"
      :zoom.sync="zoom"
      :options="mapOptions">

    <googlemaps-marker
				title="You"
				:position="userPosition" />

    </googlemaps-map>
    <button class="button" @click="locate">Locate Me</button>
  </div>
</template>
<style>

#title {
  padding: 30px;
  text-align: center;
}

.item {
  padding: 0 10px 0 20px;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  justify-content: space-between;
}

.item > .photo {
  margin-right: 15px;
}

.item > .price {
  margin-left: auto;
}

.map {
  width: 100%;
  height: 500px;
}
</style>
<script>
// @ is an alias to /src
import { ITEMS } from "@/data/storeData.js";

export default {
  name: "home",
  data() {
    return {
      items: ITEMS,
      center: {
        lat: 1.3521,
				lng: 103.8198,
			},
			mapOptions: {
			},
			userPosition: null,
			zoom: 12,
    };
  },
  methods: {
    showDetails(itemId) {
      this.$router.push({ name: 'itemDetail', params: { id: itemId }})
    },
    locate() {
      window.microapps.getCurrentLocation().then((data) => {
        console.log(data);
        this.center = {
          lat: data.latitude,
          lng: data.longitude,
        };
      });
    }
  }
};
</script>
