<template>
  <div class="item-detail-container">
    <div class="title">
      <div>{{selectedItem.name}}</div>
    </div>
    <div class="photo-container">
      <img :src="selectedItem.photoUrl" width="100%" height="auto">
    </div>
    <div class="item-details">
      <div>Price: ${{selectedItem.price}}</div>
      <div>Description:</div>
      <div>{{selectedItem.description}}</div>
    </div>
    <div class="back-to-hom-container">
      <router-link to="/">Back to Home</router-link>
    </div>

    <div class="payment-button-container">
      <button class="button-container" @click="checkout">Checkout with GPay</button>
    </div>
  </div>
</template>
<style>
.item-detail-container {
  margin-bottom: 40px;
}

.title {
  padding: 30px;
  text-align: center;
}

.item-details {
  padding: 20px;
}

.photo-container, .back-to-hom-container {
  text-align: center;
}

.button-container {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: black;
  color: white;
}
.payment-button-container {
  bottom: 0;
  position: fixed;
  width: 100%;
}
</style>

<script>
// @ is an alias to /src
import { ITEMS } from "@/data/storeData.js";

export default {
  name: "ItemDetail",
  data() {
    return {
      allItems: ITEMS
    };
  },
  computed: {
    selectedItem() {
      return this.allItems[this.$route.params.id];
    }
  },
  methods: {
    checkout() {
      let paymentDataRequest = {"apiVersion":2,"apiVersionMinor":0,"transactionInfo":{"currencyCode":"INR","totalPriceStatus":"FINAL","totalPrice":"123.45","transactionNote":"Transaction Note"},"allowedPaymentMethods":[{"type":"UPI","parameters":{"payeeVpa":"dim-sum-dko@icici","payeeName":"Dko Dim Sum","referenceUrl":"https://www.google.com","mcc":"0000","transactionReferenceId":"12345"},"tokenizationSpecification":{"type":"DIRECT"}}]}
      console.log('the new Payment: loadPaymentData' + JSON.stringify(paymentDataRequest));
      let paymentPromise = window.microapps.loadPaymentData(paymentDataRequest);

      paymentPromise.then(res => {
        console.log('Payment result', res);
      });
    }
  }
};
</script>
